:root {
  --text-color: #c8d0d4;
  --field-color: #d9d9d9;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-image: url("/images/background.jpg");
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 19px;
  color: #c8d0d4;
  height: 100%;
  width: 100%;
}

.parameters {
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  width: 632px;
  gap: 28px 42px;
  list-style: none;
  padding: 0;
}

.container {
  width: 1880px;
  padding: 20px;
  margin: 0 auto;
}

.input-field-text {
  width: 268px;
  height: 33px;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.option-select {
  width: 268px;
  height: 33px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-radius: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.undo-parametr {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.buttons {
  display: flex;
}

.button {
  box-sizing: border-box;
  opacity: 0;
  width: 30;
  height: 10;
}

.button-borders {
  border-width: 3px;
  border-color: var(--field-color);
}

.label {
  padding: 10px 20px;
  border: 2px solid var(--field-color);
  cursor: pointer;
}

.label:hover {
  border-color: #ccc;
}

.button:checked + label {
  background-color: var(--field-color);
  border-color: var(--field-color);
}

/* .buttons-select-item ::before {
  color: var(--field-color);
  display: inline-block;
  min-width: 105px;
  min-height: 24px;
  cursor: pointer;
  padding: 16px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border-color: var(--logo-n-button-color);
  background-color: transparent;

  transition: background-color 250ms var(--cubic),
    border-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.buttons-select-item ::after {
  color: #000000;
  display: inline-block;
  min-width: 105px;
  min-height: 24px;
  cursor: pointer;
  padding: 16px 32px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border-color: var(--logo-n-button-color);
  background-color: #000000;

  transition: background-color 250ms var(--cubic),
    border-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
} */
